@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #303030;
    color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-color: #000;
    border-bottom: 2px solid rgb(23, 200, 23);

    h1 {
        padding: 40px 20px;
        color: rgb(23, 200, 23);
        letter-spacing: 2px;
    }
}

p {
    font-size: 2rem;
    padding: 30px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

article {
    display: flex;
    flex-wrap: wrap;
}

div {
    width: 300px;
    height: 300px;
    margin: 50px auto;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;

    p {
        line-height: 240px;
    }

    p:nth-last-child(1) {
        line-height: 80px;
    }

    input {
        width: 50px;
        height: 50px;
        border: 2px solid black;
        margin: 30px 0 0 0;
    }


    @media screen and (min-width: 610px) and (max-width: 1280px) {
        width: 150px;
        height: 150px;

        p:nth-last-child(1) {
            line-height: 10px;
        }

        input {
            width: 30px;
            height: 30px;
            border: 1px solid black;
            margin: 15px 0 0 0;
        }

        p {
            line-height: 90px;
            font-size: 1rem;
        }
    }

    @media (max-width: 609px) {
        width: 90px;
        height: 90px;
        padding: 10px;

        p {
            line-height: 5px;
            font-size: 1rem;
        }

    }
}

div:nth-child(1) {
    background-color: black;
}

div:nth-child(2) {
    background-color: rgb(15, 15, 29);
}

div:nth-child(3) {
    background-color: gray;
}

div:nth-child(4) {
    background-color: rgb(141, 62, 75);
}

div:nth-child(5) {
    background-color: purple;
}

div:nth-child(6) {
    background-color: rgb(143, 104, 60);
}

div:nth-child(7) {
    background-color: rgb(133, 67, 214);
}

p {
    text-align: center;
}

// article {
//     text-align: center;
//     margin: 40px 20px;

//     label {
//         font-size: 2.5rem;
//         display: block;
//         padding: 15px 0px;
//     }

//     input {
//         width: 33%;
//         height: 50px;
//         border: 2px solid rgb(23, 200, 23);
//         border-radius: 10px;
//         font-size: 2.5rem;
//         margin: 15px 0px;
//     }

//     input:focus {
//         background-color: #dfead8;
//     }

//     button {
//         width: 15%;
//         height: 30px;
//         background-color: rgb(32, 101, 32);
//         color: white;
//         border-radius: 10px;
//         border: none;
//         transition: .2s;
//         margin: 30px;
//     }

//     button:hover {
//         background-color: rgb(16, 139, 16);
//     }
// }